services:
  - type: web
    name: backend
    env: python
    buildCommand: pip install -r requirements.txt && cd Backend && python manage.py collectstatic --noinput && python manage.py migrate
    startCommand: bash start.sh
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "backend-ipch.onrender.com,localhost,127.0.0.1"
      - key: CORS_ALLOWED_ORIGINS
        value: "http://localhost:8081,http://127.0.0.1:8081,https://ums-topaz.vercel.app/"
